.portfolio-list {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3 - 30px);
  list-style-type: none;
}
.animation-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-list__item:hover .hiden-text {
  transform: translateY(0);
}

.portfolio-list__item {
  margin-right: var(--between-list-margin);
  margin-bottom: var(--between-list-margin);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
      0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }
}
.portfolio-list > .portfolio-list__item:nth-child(3n + 3) {
  margin-right: 0;
}
.portfolio-list > .portfolio-list__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.pl-description__tittle {
  color: var(--main-color);
  font-size: 18px;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.06em;
}
.pl-description__text {
  color: var(--second-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  margin-top: 4px;
}
.pl-description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
